body, html {
    height: 100%;
}

body {
  font-family: 'Futura' !important;
  margin-top: 0px;
  background-color: black !important;
  color: white !important;
}

h1 {
  font-size: 50px !important;
}

@font-face {
  font-family: 'Futura';
  src: url(res/fonts/Futura\ Medium.ttf) format("truetype");
}

.header-text {
  text-align: center;
}

.skull {
    height: auto;
    width: auto;
    max-width: 500px;
    max-height: 500px;
}

#left-skull {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.skull-text {
  text-align: center;
  line-height: 500%;
}
