body {
  background-color: black;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
}

.header {
  text-align: center;
  color: white;
  font-size: 70px;
  margin: 50px 300px 50px 300px;
  word-wrap: break-word;
}

.cast {
  text-align: center;
}
